body {
  background-color: white;
  color: black;
  font-size: 18px;
  font-weight: bold;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Source Code Pro', monospace;
  padding: 0px;
  margin: 0px;
}

.nav {
  background-color: cadetblue;
  color: white;
}

.nav ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  font-size: 0px;
}

.nav ul li {
  padding: 16px;
  text-align: left;
  font-size: 1.2rem;
  border-bottom: 1px solid black;
  transition: background-color 0.2s;
}

.nav ul li:hover {
  background-color: black;
}

.image-area {
  background-image:url('Images/hd-wallpapers.jpg');
  background-color:black;
  background-position: center center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
}

.centered-container {
  max-width: 1020px;
  margin: 0px auto;
  padding: 0px 16px;
}

.image-text {
  text-align: center;
  background-color: black;
  color: white;
  font-size: 2.5rem;
}

.intro-text {
  color: gray;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media screen and (min-width: 700px) {
  .nav ul {
    text-align: right;
  }

  .nav ul li {
    display: inline-block;
    border-bottom: 0px;
    border-left: 1px solid black;
    text-align: left;
  }

  * {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

      html, body {
      min-height: 100%;
      padding: 0;
      margin: 0;
      font-family: Roboto, Arial, sans-serif;
      font-size: 14px;
      color: #666;
      }
	  
      h1 {
      margin: 0 0 20px;
      font-weight: 400;
      color: #1c87c9;
      }
      
	  p {
      margin: 0 0 5px;
      }
      .main-block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background: #1c87c9;
      }
      form {
      padding: 25px;
      margin: 25px;
      box-shadow: 0 2px 5px #f5f5f5; 
      background: #f5f5f5; 
      }
      .fas {
      margin: 25px 10px 0;
      font-size: 72px;
      color: #fff;
      }
      .fa-envelope {
      transform: rotate(-20deg);
      }
      .fa-at , .fa-mail-bulk{
      transform: rotate(10deg);
      }
      input, textarea {
      width: calc(100% - 18px);
      padding: 8px;
      margin-bottom: 20px;
      border: 1px solid #1c87c9;
      outline: none;
      }
      input::placeholder {
      color: #666;
      }
      button {
      width: 100%;
      padding: 10px;
      border: none;
      background: #1c87c9; 
      font-size: 16px;
      font-weight: 400;
      color: #fff;
      }
      button:hover {
      background: #2371a0;
      }    
      @media (min-width: 568px) {
      .main-block {
      flex-direction: row;
      }
      .left-part, form {
      width: 50%;
      }
      .fa-envelope {
      margin-top: 0;
      margin-left: 20%;
      }
      .fa-at {
      margin-top: -10%;
      margin-left: 65%;
      }
      .fa-mail-bulk {
      margin-top: 2%;
      margin-left: 28%;
      }
      }
	  
	  .myclass {
		  align-items: center;
      justify-content: center;
		  
	  }

.		myclass div{
		  align-items: center;
      justify-content: center;
	  margin-left:50%;
		  
	  }


}
